# {{ ansible_managed }}
auth    required    pam_succeed_if.so quiet user ingroup {{ openio_vsftpd_authorized_group }}
auth    required    pam_succeed_if.so quiet shell = /sbin/nologin
session    optional     pam_keyinit.so    force revoke
auth       include      password-auth
account    include      password-auth
session    required     pam_loginuid.so
session    include      password-auth
