# {{ ansible_managed }}

anonymous_enable={{ 'YES' if openio_vsftpd_anon_enable else 'NO' }}

local_enable={{ 'YES' if openio_vsftpd_local_enable else 'NO' }}
pam_service_name={{ openio_vsftpd_pam_service_name }}

# TODO: VD: make this configurable
userlist_enable=NO
userlist_deny=YES
userlist_file=/etc/vsftpd/user_list

write_enable={{ 'YES' if openio_vsftpd_write_enable else 'NO' }}
local_umask={{ openio_vsftpd_local_umask }}

anon_upload_enable=NO
anon_mkdir_write_enable=NO
#chown_uploads=YES
#chown_username=whoever

dirmessage_enable={{ 'YES' if openio_vsftpd_dirmessage_enable else 'NO' }}

syslog_enable={{ 'YES' if openio_vsftpd_syslog_enable else 'NO' }}

connect_from_port_20={{ 'YES' if openio_vsftpd_connect_from_port_20_enable else 'NO' }}

idle_session_timeout={{ openio_vsftpd_idle_timeout }}
data_connection_timeout={{ openio_vsftpd_connection_timeout }}

nopriv_user={{ openio_vsftpd_nopriv_user }}
async_abor_enable={{ 'YES' if openio_vsftpd_async_abor_enable else 'NO' }}
ascii_upload_enable={{ 'YES' if openio_vsftpd_ascii_mangling_enable else 'NO' }}
ascii_download_enable={{ 'YES' if openio_vsftpd_ascii_mangling_enable else 'NO' }}

ftpd_banner={{ openio_vsftpd_banner }}

#deny_email_enable=YES
#banned_email_file=/etc/vsftpd/banned_emails

chroot_local_user={{ 'YES' if openio_vsftpd_chroot_local_user else 'NO' }}
#chroot_list_enable=YES
#chroot_list_file=/etc/vsftpd/chroot_list

ls_recurse_enable={{ 'YES' if openio_vsftpd_ls_recurse_enable else 'NO' }}

listen=YES
port_enable=YES
listen_address={{ openio_vsftpd_bind_address }}
listen_port={{ openio_vsftpd_bind_port }}

tcp_wrappers={{ 'YES' if openio_vsftpd_tcp_wrappers_enable else 'NO' }}

rsa_cert_file={{ openio_vsftpd_ssl_cert_dir }}/{{ openio_vsftpd_ssl_cert_file }}
rsa_private_key_file={{ openio_vsftpd_ssl_cert_dir }}/{{ openio_vsftpd_ssl_cert_file }}

# SSL
ssl_enable={{ 'YES' if openio_vsftpd_ssl_enable else 'NO' }}
allow_anon_ssl={{ 'YES' if openio_vsftpd_ssl_allow_anon else 'NO' }}
force_local_data_ssl={{ 'YES' if openio_vsftpd_ssl_force_local_data else 'NO' }}
force_local_logins_ssl={{ 'YES' if openio_vsftpd_ssl_force_local_logins else 'NO' }}

ssl_tlsv1={{ 'YES' if openio_vsftpd_ssl_proto == 'tlsv1' else 'NO' }}
ssl_sslv2={{ 'YES' if openio_vsftpd_ssl_proto == 'sslv2' else 'NO' }}
ssl_sslv3={{ 'YES' if openio_vsftpd_ssl_proto == 'sslv3' else 'NO' }}

require_ssl_reuse={{ 'YES' if openio_vsftpd_ssl_require_reuse else 'NO' }}
ssl_ciphers={{ openio_vsftpd_ssl_ciphers }}

pasv_enable={{ 'YES' if openio_vsftpd_passive_mode.enabled else 'NO' }}
pasv_min_port={{ openio_vsftpd_passive_mode.min_port | int }}
pasv_max_port={{ openio_vsftpd_passive_mode.max_port | int }}

allow_writeable_chroot={{ 'YES' if openio_vsftpd_allow_writeable_chroot else 'NO' }}
